body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container-Btn {
	margin: 100px;
}
button {
 
  background-color: aqua;
  width: 50%;
  height: 50px;
  font-size: 9px;

}

/* .btn1{
  background-color: aqua;
  width: 50%;
  height: 50px;
  font-size: 9px;
  margin-left: 140px;
  margin: 30px;
}

input{
  margin-left: 140px;
  width: 50%;
  height: 50px;
  font-size: 30px;
  
}  */